<div class="card-plant mb-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= plant.image_url %>), url('https://images.unsplash.com/photo-1616844868137-7ffaf43c2d80?q=80&w=1885&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')">
  <%= plant.name %>
  <%= link_to "+", plant_path(plant), method: :destroy, data: { confirm: "Are you sure?" }, class: "card-remove-link" %>

</div>
